@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'RocknRoll One', sans-serif;
}